---
layout: layouts/fullscreenbase.njk
permalink: /
page_title: GNOME UG Delhi-NCR
---

<h1 class="heading gnome_blue">Welcome to GNOME Users Group!</h1>
<br>
<h3 class="sub_heading main_color">Delhi-NCR, India</h3>
