<br>
<div class="heading2 main_color center">
    Blog
</div>
<br>
    {% for post in postslist | reverse %}
        <div class="post card">
            <div class="card-body">
                <h4 class="card-title">
                    <a href="{{ post.url | url }}" class="gnome-blue">{{ post.data.title }}</a>
                </h4>
                <p class="card-text">
                    {{ post.data.description }}
                </p>
                <p class="muted">
                    {{ post.data.date.toUTCString() }}
                </p>
            </div>
        </div>   
    {% endfor %}
