
body {
  background:#241f31;
  color: #e1e1e1;
  font-family: 'Nunito', sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.black {
  color: black;
}

.white {
  color: rgb(255, 255, 255);
}

.main_color {
  color: #cfcfcf;
}

.mainpage {
  display:flex;
  padding: 0 .5rem;
  width: 100%;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.navbar {
  margin-top: 15px;
}

.navbar-nav  li {
  font-size: 18px;
  font-weight: bold;
  color: #e1e1e1;
}

.navbar-nav  li a:hover {
  background-color: rgb(63,251,230);
  background: linear-gradient(180deg, rgba(63,251,230,1) 0%, rgba(70,162,252,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.banner {
  padding: 5rem 0;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.heading {
  font-size: 64px;
  cursor: default;
  font-family: "Prompt";
}

.heading2 {
  font-size: 54px;
  cursor: default;
  font-family: "Prompt";
  color: #8AB1E0;
}

.gnome_blue {
  color: #4a86cf;
}

.gradient {
  background-color: rgb(63,251,230);
  background: linear-gradient(180deg, rgba(63,251,230,1) 0%, rgba(70,162,252,1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.sub_heading {
  font-size: 36px;
  cursor: default;
}

.center {
  text-align: center;
  margin: auto;
}

.content {
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  font-family: "Prompt";
}

.content_padding {
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.text_content {
  font-size: 20px;
  color: #e1e1e1;
  text-align: left;
  cursor: default;
}

.text_shadow {
  font-size: 50px;
  background-color: #030303;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

#contact {
  margin: 20px;
  text-align: center;
}

#personal-contact {
  text-align: center;
}

#info {
  padding: 5%;
}


.footer {
  padding: 35px;
  border-radius: 0px;
  position: relative;
  bottom: 0px;
  width: 100%;
}

.fa {
  padding: 10px;
  font-size: 20px;
  max-width: fit-content;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  align-content: center;
}

.fa {
  color: white;
}

.fa:hover {
  opacity: 0.9;
  color: rgb(138, 138, 138);
  text-decoration: none;
}

.fa-github {
  background: rgb(136, 136, 136);
}

.fa-linkedin {
  background: #007bb5;
}

.fa-instagram {
  background: #125688;
}

.fa-gitlab {
  background: #f86b2e;
}

.card {
  width: 70%;
  margin: auto;
  margin-top: 25px;
  padding: 5px;
  padding-bottom: none;
  border-radius: 15px;
  background-color: #2d283c;
  box-shadow: 1px 1px 5px rgb(26, 26, 26);
}

a {
  color: #8AB1E0;
}

.muted {
  color: rgb(177, 175, 175);
}

.featured_image {
  max-width: 450px;
}

.blog-div {
  max-width: 800px;
}

.blog-content p {
  font-family: 'charterregular';
  font-size: 13px;
}

.hidden {
  display: none;
}

.blog-div img {
  max-width: 450px;
}


@font-face {
  font-family: 'charterregular';
  src: url('/static/font/charter_regular-webfont.eot');
  src: url('/static/font/charter_regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/static/font/charter_regular-webfont.woff') format('woff');
  font-weight: normal;
}

@media (max-width: 500px) {

  .mainpage {
    display:flex;
    padding: 0 .5rem;
    width: 100%;
    height: 100vh;
    text-align: center;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .banner{
    padding: 40px;
    border-radius: 30px;
  }

  .heading {
    font-size: 36px;
  }

  .heading2 {
    font-size: 36px;
  }

  .sub_heading {
    font-size: 18px;
  }

  .content_padding {
    padding: 25px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .text_content {
    font-size: 17px;
  }

  .text_shadow {
    font-size: 40px;
  }

  .navbar {
    margin-left: 5px;
    margin-right: 5px;
  }

  .content {
    font-size: 33px;
  }

  .footer {
    font-size: x-small;
  }

  .card {
    width: 90%;
  }

  .featured_image {
    max-width: 90%;
  }

  .blog-div {
    max-width: 90%;
  }

  .blog-div img {
    max-width: 98%;
  }

}

@media (max-width: 380px) {

  .heading {
    font-size: 26px;
  }

  .content_padding {
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

}