---
layout: layouts/base.njk
---

<div class="mainpage">
    <!-- Navbar  -->
    {% include "layouts/navbar.njk" %}

    <div class="banner">
        {{ content | safe }}
    </div>

    <div class="footer">
        Copyright © 2022 GNOME Users Group, Delhi-NCR, India
    </div>
</div>