---
layout: layouts/notfullscreenbase.njk
---
<br>
<p class="center heading2 main_color">
    {{ title }}
</p>
<p><i class="fa-regular fa-clock"></i> {{ content | readingTime }} read | {{ date.toDateString() }}</p>
<hr>
<img src="{{ featuredImage |  url }}" alt="{{ featuredImage }}" class="featured_image" >
<br>
<div class="blog-div">    
    <p class="blog-content">{{ content | safe }}</p>
</div>